.about-background-div {
  height: 100vh;
  position: relative;
  width: 100%;
  margin: auto;
  display: block; }

.about-content-div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; }

.about-image-div {
  margin: 0 auto;
  width: 36%; }

.about-image {
  width: 100%; }

.about-header-div {
  text-align: center;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px; }

.about-text-div {
  padding-top: 30px;
  width: 70%;
  line-height: 22px;
  text-align: center;
  margin: auto; }
