// --- GOOGLE FONT IMPORT --- //

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,700');

// --- RESETS --- //

body {
    display: block;
    margin: 0px;
}    
// --- PROTOTYPING UTILITY STYLES --- //

.redBorder {
    border: solid 1px red
}

.greenBorder {
    border: solid 1px green
}

.blueBorder {
    border: solid 1px blue
}

// --- FONT STYLES --- //

.playfairRegular {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.playfairBold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.ralewayRegular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.ralewayBold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.fade-line { 
    // margin: 25px 0;
    margin: auto;
    height: 1px;
    background: #A0A0A0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #AEAEAE));
    width: 50%;
    position: absolute;
    top: 100vh;
    left: 25%;
}
