.contact-background-div {
    height: 100vh;
    position: relative;
    width: 100%;
    margin: auto;
    display: block
}
 
.contact-content-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    // height: 70%;
}

.contact-copy-div {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: 30px;
}

.contact-icons-div {
    text-align: center;
}

.contact-icons-div img {
    width: 60px;
    margin: 15px;
}

.contact-lower-copy-div {
    text-align: center;
    font-size: 1.4em;
    padding-top: 30px;
}