.content-slides-background-div {
    position: absolute;
    display: block;
    height: 100%;
    width: 80%;
    left: 20%;
}


.projects-background-div {
    height: 100vh;
    // background-color: blue;
}

.passions-background-div {
    height: 100vh;
    // background-color: yellow;
}

.contact-background-div {
    height: 100vh;
    // background-color: green;
}
