.menu-background-div {
    position: fixed;
    height: 100%;
    width: 20%;
    // background-color: yellow;
}

.vertical-line {
    width: 5px;
    position: absolute;
    float: right;
    left: 100%;
    top: 12%;
    height: 75%;
    background-color: black;
    z-index: 100;
}

.menu-content-div {
    top: 30%;
    display: block;
    position: relative;
}

.menu-item {
    text-align: center;
    font-size: 150%;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: pointer;
}

.menu-item:hover {
    color: pink;
}

.about-selected-true {
    color: pink;
}

.about-selected-false {
    color: black;
}

.projects-selected-true {
    color: pink;
}

.projects-selected-false {
    color: black;
}

.passions-selected-true {
    color: pink;
}

.passions-selected-false {
    color: black;
}

.contact-selected-true {
    color: pink;
}

.contact-selected-false {
    color: black;
}