.passions-background-div {
  height: 100vh;
  position: relative;
  width: 100%;
  margin: auto;
  display: block; }

.passions-content-div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%; }

.passions-header-div {
  font-size: 1.4em; }

.passion-div {
  padding-top: 35px; }

.passion-header {
  font-size: 1.4em;
  padding-bottom: 10px;
  font-size: 1.4em; }

.passion-copy {
  font-size: 1em;
  line-height: 1.4em; }
