.projects-background-div {
    height: 100vh;
    // background-color: blue;
    position: relative;
    width: 100%;
    margin: auto;
    // height: 300px;
    display: block
}

.projects-content-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    // height: 100%;
}

.projectCardOuter {
    width: 300px;
    height: 200px;
    border: solid 1px #D5D5D5;
    margin: auto;
    margin-top: 20%;
    position: relative;
    overflow: hidden;
}

.background-orange {
    background-color: #ec4616;
}

.background-nothing {
    // background-color: #ec4616;
}



.projectCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

}


.autoi-background-div {
    background-color: rgba(37, 47, 83, 0.00);
}

.projectImage {
    width: 100%;
    height: 100%
}


// .wejay-background-div {
//     background-color: #ec4616;
// }





.animationHoverDiv {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 90%;
    
    left: 100%;
    
    transition: left 200ms;
    -webkit-transition: left 200ms;
    -moz-transition: left 200ms;
    -o-transition: left 200ms;
    transition: left 200ms;


    z-index: 100;
    position: absolute;
}


.animation-entering {
    left: 0%;
}

.animation-entered {
    left: 0%;
}

.animation-exiting {
    left: -100%;
}

.animation-exited {
    left: -100%;
}

.animationHoverDivContent {
    // display: 
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.projectLinkText {
    color: white;
    font-size: 1.2em;
    padding-left: 25%;
    padding-top: 4%;
    cursor: pointer;
}

.projectLinkText:hover {
    color: pink;
}

.project-modal-background {
    position: absolute;
    height: 200vh;
    width: 200vw;
    top: -30vh;
    left: -80vw;
}

.project-modal-outer {
    position: absolute;
    height: 70vh;
    width: 75vw;
    top: 35vh;
    left: 70vw;
    z-index: 10
}

.project-modal-inner {
    height: 90%;
    width: 90%;
    position: relative;
    margin:0 auto;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.76);
}

.modal-content-div {
    margin: 10%;
}
.modal-content-header {
    color: white;
    margin-bottom: 20px;
    font-size: 2em;
}
.modal-content-text {
    color: white;
}


.modal-exit-button-div {
    float: right;
    width: 5%;
    height: 5%;
}

.modal-exit-button-img {
    float: right;
    width: 50px;
}

