.projects-background-div {
    height: 100vh;
    // background-color: blue;
}

.projects-content-div {

}

.projectCard {
    width: 50%;
}


.autoi-background-div {
    background-color: rgba(37, 47, 83, 0.00);
}

.autoiLogo {
    width: 100%
}


.wejay-background-div {
    background-color: #ec4616;
}

.wejayLogo {
    width: 100%
}



.stackfighter-background-div {
    
}

.stackfighterImage {
    width: 100%
}



.journalist-background-div {
    
}

.journalistImage {
    width: 100%
}