.projects-background-div {
    height: 100vh;
    // background-color: blue;
    position: relative;
    width: 100%;
    margin: auto;
    // height: 300px;
    display: block
}

.projects-content-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    // height: 100%;
}


.projectCard {
    width: 100%;
}


.autoi-background-div {
    background-color: rgba(37, 47, 83, 0.00);
}

.autoiLogo {
    width: 100%
}


.wejay-background-div {
    background-color: #ec4616;
}

.wejayLogo {
    width: 100%
}



.stackfighter-background-div {
    
}

.stackfighterImage {
    width: 100%
}



.journalist-background-div {
    
}

.journalistImage {
    width: 100%
}