.projects-background-div {
  height: 100vh;
  position: relative;
  width: 100%;
  margin: auto;
  display: block; }

.projects-content-div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; }

.projectCard {
  width: 100%; }

.autoi-background-div {
  background-color: rgba(37, 47, 83, 0); }

.autoiLogo {
  width: 100%; }

.wejay-background-div {
  background-color: #ec4616; }

.wejayLogo {
  width: 100%; }

.stackfighterImage {
  width: 100%; }

.journalistImage {
  width: 100%; }
